@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body, #__next {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.theme-main {
  --color-primary: #161618; /* Darkest background */
  --color-secondary: #383737; /* Container background */
  --color-secondary-border: #5D5D5D;
  --color-tertiary: #309464; /* Button and highlights */
  --color-tertiary-border: #47E197; /* Button and highlights */
  --color-neutral: #FFFFFF; /* Text */
  --color-accent: #D9D9D9; /* Border and light gray */
  --color-border: #363535; /* Border color */
  --color-alert: #212121;
  --color-dashboard: #1B1B1C;
  --color-sidenav: #A3A3A3;
}

.theme-dark {
  --color-primary: #161618;
  --color-secondary: #383737;
  --color-secondary-border: #5D5D5D;
  --color-tertiary: #309464;
  --color-tertiary-border: #47E197; /* Button and highlights */
  --color-neutral: #FFFFFF;
  --color-accent: #D9D9D9;
  --color-border: #363535;
}

.theme-light {
  --color-primary: #FFFFFF;
  --color-secondary: #F5F5F5;
  --color-tertiary: #1976D2;
  --color-neutral: #161618;
  --color-accent: #D9D9D9;
  --color-border: #707070;
}

/* Define the fadeIn keyframe animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-4px);
  }
  50% {
    transform: translateX(4px);
  }
  75% {
    transform: translateX(-4px);
  }
}

@keyframes slideIn {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-shake {
  animation: shake 0.3s ease-in-out;
}

.animate-slideIn {
  animation: slideIn 0.3s ease-in-out;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


