@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {

}

.theme-main {
  --color-primary: #161618;
  --color-secondary: #212124;
  --color-tertiary: #4f46e5; /* bg-indigo-600 */
  --color-neutral: #fcfcfc;
  --color-accent: #4b5563;
  --color-border: #525252;
}

.theme-dark {
  --color-primary: rgb(25, 25, 25);
  --color-secondary: rgb(31, 31, 31);
  --color-tertiary: #4f46e5; /* bg-indigo-600 */
  --color-neutral: #fcfcfc;
  --color-accent: #4b5563;
  --color-border: #525252;
}

.theme-light {
  --color-primary: #fcfcfc;
  --color-secondary: #f5f5f5;
  --color-tertiary: #4f46e5; /* bg-indigo-600 */
  --color-neutral: #313434;
  --color-accent: #d6d7d8;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
